:root {
  --medium-grey: #828FA3;
  --main-purple: #635FC7;
  --main-purple-hover: #A8A4FF;
  --light-grey-bg: #F4F7FD;
  --black: #000112;
  --light-grey: #E4EBFA;
}

body {
  margin: 0;
  font-family: 'Plus Jakarta Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light-grey-bg);
  font-size: 15px;
  color: var(--medium-grey);
}

p {
  margin:  0;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
}

.heading-medium {
  color: black;
  font-weight: 700;
}



.sidebar {
  width: 300px;
  max-height: 100vh;
  /* position: absolute; */
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  border-right: 1px solid var(--light-grey);
}

.sidebar-heading {
  padding: 30px;
}

.sidebar-heading > img {
  width: 150px;
}

.board-counter {
  margin-left: 30px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2.4px;
  margin-bottom: 20px;
}

.board-list {
  list-style: none;
  padding: 0 20px 0 0; 
  margin-bottom: auto;
}

.board-selector {
  padding-left: 30px;
  height: 48px; 
  color: var(--medium-grey);
  font-weight: 700;
  border-radius: 0 30px 30px 0;
  transition-duration: 100ms;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.board-selector[data-board="create-new-board"] {
  color: var(--main-purple)
}

.board-selector:hover {
  background-color: var(--main-purple-hover);
  color: white;
}

.board-selector[data-board="active"] {
  background-color: var(--main-purple);
  color: white;
}




.board-selector-icon {
  margin-right: 15px;
}

.board-selector[data-board="active"]>.board-selector-icon {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(200%) contrast(103%);
}

.board-selector:hover>.board-selector-icon {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(200%) contrast(103%);
}

.brightness-mode {
  margin: auto 30px 20px 30px;
  background-color: var(--light-grey-bg);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  column-gap: 20px;
}

.toggleSidebar {
  font-weight: 700;
  margin-left: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.toggleSidebar > img {
  margin-right: 15px;
}

.show-sidebar-btn {
  position: absolute;
  bottom: 50px;
  background-color: var(--main-purple);
  padding: 15px;
  border-radius: 0 25px 25px 0;
  cursor: pointer;

}

.main-container {
  width: 100%;
  max-width: 100%;
  overflow: auto;
  /* width: 70%; */
}

/* Main styles */
.main-heading {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 30px 25px;
  border-bottom: 1px solid var(--light-grey);
}

.main-board-name {
  margin: 0 auto 0 0;
  font-size: 24px;
  color:  var(--black);
  font-weight: 700;
}

.add-new-task {
  background-color: var(--main-purple);
  color: white;
  padding: 15px 24px;
  border-radius: 24px;
  font-size: 15px;
  border: none;
  font-weight: 700;
}

.kanban-container {
  padding: 25px;
  display: flex;
  /* grid-template-columns: repeat(3, 1fr); */
  gap: 20px;
  grid-auto-columns: auto;
  /* width: 50vw; */
  height: auto;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
    height: 100%;

}

.kanban-container::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.kanban-column {
  width: 300px;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 300px;
  
}

.column-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.column-colour {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 100%;
  margin-right: 10px;
}

.column-task-counter {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2.4px;
}

.column-tasks-container {
  display: grid;
  gap: 20px;
}

.task-container {
  background-color: white;
  padding: 25px 15px;
  box-shadow: 0px 4px 6px 0px #364E7E1A;
  border-radius: 8px;
  
}


.task-subtasks-counter {
  font-weight: 700;
  font-size: 12px;
  margin-top: 10px;
}